{{#if blog}}
<section class="existComments">
  <h2>{{blog.blog_title}}</h2>
  {{!-- <h4>Post By: {{blog.user.username}}</h4> --}}
  <p>{{blog.blog_content}}</p>
  {{#if commentData}}
    {{#each commentData}}
      <h3>Comments by: {{user.username}}</h3>
      <p>{{comment_content}}</p>
    {{/each}}
  {{/if}}
{{!-- POST COMMENT --}}
<div class="container" id="comment">
  <form>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="commentbox"></textarea>
      <input type="hidden" value={{blog.id}} id="blogId"/>
    <button id="comment_btn">Post</button>
    </div>
  </form>
</div>
{{else}}
  <div class="feature_post">
    <h1 id="feature">FEATURED BLOG POSTS</h1>
    {{#each blogs}}
      <li class="existing_post">
        <h3 class="blog_title"><a href="/blog/{{id}}">{{blog_title}}</a></h3>
        <p>By: {{user.username}}</p>
        <p>{{blog_content}}</p>
      </li>
    {{/each}}
  </div>
{{/if}}
</section>
<script src="/js/comment.js"></script>